<div class="container">
<div class="row">
  <h1>{{title}}</h1>
  </div>
<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="row">
        <div class="col-xs-12">
  <form >
      <div class="row">
          <label for="projectName" class="col-md-4">Project:</label>
          <input type="text" class="col-md-5" id="searchProject" name="searchProject" #searchProject="ngModel" [(ngModel)]="projectName" placeholder="Search Project">
          <button type="button" class="col-md-2  btn btn" style="margin-left:20px" (click)=getProjectPopup()>Search</button>
      </div>
      <br>
    <div class="row">
      <label for="task"  class="col-md-4" >Task</label>
      <input class="col-md-5" type="text" [(ngModel)]="task.taskName"  name="task" id="task" required >
    </div>
    <br>
    <div class="row">
        <div class="col-md-9">
            <input type="checkbox" align  id="projectSelection" tabindex="0" name="checkBoxSelect" [(ngModel)]="checkBoxSelect">
            <label for="task"  >Parent Task</label>
        </div>
    </div>
      <br>

    <div class="row">
        <label for="task"  class="col-md-4" >Priority</label>
        <input class="col-sm-2" type="range"  [(ngModel)]="task.priority" [disabled] = "checkBoxSelect" title="{{task.priority}}" name="priority" id="priority" required>
        <label for="task"  class="col-md-1" ></label>
    </div>
      <br>
    <div class="row">
      <label for="parentTask" class="col-md-4" >Parent Task</label>
      <input class="col-md-5" type="text" [disabled] = "checkBoxSelect"  [(ngModel)]="task.parentTaskName"   name="parentName" id="parentName" required>
      <button [disabled] = "checkBoxSelect" type="button" class="col-md-2  btn btn" style="margin-left:20px" (click)=getParentPopup()>Search</button>
    </div>
    <br>
    <div class="row">
      <label for="startDate" class="col-md-2" >Start Date</label>
      <input class="col-md-4" type="date" [disabled] = "checkBoxSelect" [(ngModel)]="task.startDate"   name="startDate" id="startDate" required>
      <label for="endDate" class="col-md-2" >End Date</label>
      <input class="col-md-4" type="date" [disabled] = "checkBoxSelect" [(ngModel)]="task.endDate"   name="endDate" id="endDate" required>

   </div>
   <br>
   <div class="row">
      <label for="user" class="col-md-4" >User:</label>
      <input class="col-md-5" type="text" [(ngModel)]="userName"   name="userName" id="userName" required>

      <button type="button" class="col-md-2  btn btn"  style="margin-left:20px" (click)=getUserPopup()>Search</button>
    </div>
  <br>
  <br>
  <div class="row">
      <div class="col-md-5"></div>
    <div class="col-md-6">
    <button type="submit" class="btn btn-success" style="margin-right:20px" (click)="addTask()">Add Task</button>
    <button type="cancel"  style="margin-left:20px" class="btn btn-primary">Reset</button>
    </div>
  </div>
    <br>
    <br>
  </form>
  </div>
  </div>
</div>
</div>
</div>

<button type="button" id="parentModalhide" class="btn btn-primary" style="display: none;" data-toggle="modal" data-target="#parentModal"></button>
<button type="button" id="projectModalhide" class="btn btn-primary" style="display: none;" data-toggle="modal" data-target="#projectModal"></button>
<button type="button" id="userModalhide" class="btn btn-primary" style="display: none;" data-toggle="modal" data-target="#userModal"></button>


<!-- Modal -->
<div class="modal fade" id="projectModal" role="dialog">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Select Project</h4>
          </div>
          <!-- Modal body -->
          <div class="modal-body" style="height:450px; overflow-y: scroll">
              <div class="row list-group-item" *ngFor="let item of projectsList">

                  <div class="col-md-12" style="background-color: rgb(228, 224, 224);">
                      <br/>
                      <strong>
                          <span class="col-form-label">
                              <button type="button" class="btn btn-primary" (click)=selectedProject(item)>  {{item.project}}</button>
                          </span>
                          <br/>
                      </strong>
                  </div>

              </div>
          </div>

          <div class="modal-footer">
              <button id="projectModalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="parentModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select Parent Task</h4>
      </div>
       <!-- Modal body -->
    <div class="modal-body" style="height:450px; overflow-y: scroll">
            <div class="row list-group-item" *ngFor="let item of parentsList">

                    <div class="col-md-12" style="background-color: rgb(228, 224, 224);"  >
                        <br/><strong>
                        <span class="col-form-label"><button type="button" class="btn btn-primary" (click)=selectedParent(item)> {{item.parentTask}}</button></span><br/>
                      </strong>
                    </div>

                </div>
        </div>

      <div class="modal-footer">
        <button id="parentModalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select User</h4>
        </div>
         <!-- Modal body -->
      <div class="modal-body" style="height:450px; overflow-y: scroll">
              <div class="row list-group-item" *ngFor="let item of usersList">

                      <div class="col-md-12" style="background-color: rgb(228, 224, 224);"  >
                          <br/><strong>
                          <span class="col-form-label"><button type="button" class="btn btn-primary" (click)=selectedUser(item)> Employee Id: {{item.employeeId}}</button></span><br/>
                          <span class="col-form-label">First Name: {{item.firstName}}</span><br/>
                          <span class="col-form-label">Last Name: {{item.lastName}}</span><br/><br/>
                        </strong>
                      </div>

                  </div>
          </div>

        <div class="modal-footer">
          <button id="userModalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<!-- Modal default -->
<button type="button" id="submitModalhide" class="btn btn-primary"  style="display: none;" data-toggle="modal" data-target="#submitModal"></button>
<div class="modal fade" role="dialog" id="submitModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{modalHeading}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          {{modalBody}}
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="reset" class="btn btn" data-dismiss="modal" (click)=resetButton()>OK</button>
        </div>
      </div>
    </div>
</div>
</div>
<router-outlet></router-outlet>
