<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #155090;
}
</style>

    <div style="text-align:center">
      <h1>
        Project Manager
      </h1>
      <nav >
          <div >
                <ul >
                    <li> <a routerLink="/addProject" routerLinkActive="active">Add Project</a>
                    <li> <a routerLink="/addtask" routerLinkActive="active">Add Task</a>
                    <li> <a routerLink="/addUser" routerLinkActive="active">Add User</a>
                    <li> <a routerLink="/viewtask" routerLinkActive="active">View Task</a>
                </ul>
            </div>
        </nav>
        
      <router-outlet></router-outlet>
