
<div class="container">
	<div class="row">
		<h1>{{title}}</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-xs-12">
						<form>
							<div class="row">
								<label for="project" class="col-md-3">Project</label> <input
									class="col-md-6" type="text" [(ngModel)]="project.project"
									name="project" id="project" required minlength="4">
							</div>
							<br>
							<div class="row">
								<div class="col-md-4">
									<label class="switch"> <input type="checkbox"
										id="hasSetDefaultDate" tabindex="0" name="hasSetDefaultDate"
										[(ngModel)]="hasSetDefaultDate"> <span
										class="slider round"></span>
									</label> <label for="hasSetDefaultDate"
										class="col-form-label project-date-selection">Set
										Start and End Date</label>
								</div>
								<input [disabled] ="!hasSetDefaultDate" class="col-md-4"
									type="text" onfocus="(this.type='date')"
									placeholder="Start Date" [(ngModel)]="project.startDate"
									name="startDate" id="startDate" required>
								<div class="col-md-1"></div>
								<input [disabled] ="!hasSetDefaultDate" class="col-md-3"
									type="text" onfocus="(this.type='date')" placeholder="End Date"
									[(ngModel)]="project.endDate" name="endDate" id="endDate"
									required>
							</div>

							<br>
							<div class="row">
								<label for="priority" class="col-md-3">Priority</label> <input
									class="col-md-6" type="range" [(ngModel)]="project.priority"
									title="{{project.priority}}" name="priority" id="priority"
									required>
							</div>
							<br>
							<div class="row">
								<label for="employeeName" class="col-md-3">Manager</label> <input
									class="col-md-4" type="text" [(ngModel)]="project.employeeName"
									name="employeeName" required minlength="4"> <input
									type="hidden" class="form-control" id="managerId"
									name="managerId" #managerId="ngModel"
									[(ngModel)]="project.employeeId">

								<div class="col-md-5">
									<button type="button" class="col-sm-5  btn btn"
										 (click)=showUserPopUp()>Search</button>
								</div>
								<button type="button" id="userPopUpBtn" class="btn btn-primary"
									style="display: none;" data-toggle="modal"
									data-target="#userPopUp"></button>


								<div class="modal fade" id="userPopUp" role="dialog">
									<div class="modal-dialog">


										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title">Select Manager</h4>
											</div>

											<div class="modal-body"
												style="height: 450px; overflow-y: scroll">
												<div class="row list-group-item"
													*ngFor="let item of userList">

													<div class="col-md-12"
														style="background-color: rgb(228, 224, 224);">
														<br />
														<strong>
															<div>
																<span class="col-form-label"><button
																		type="button" class="btn btn-primary"
																		(click)=selectManager(item)>Employee Id:
																		{{item.employeeId}}</button></span><br /> <span class="col-form-label">First
																	Name: {{item.firstName}}</span><br /> <span
																	class="col-form-label">Last Name:
																	{{item.lastName}}</span><br />
																<br />
															</div>
														</strong>
													</div>

												</div>
											</div>

											<div class="modal-footer">
												<button id="modalClose" type="button"
													class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>

									</div>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-5"></div>
								<div class="col-md-2">
									<button type="submit" class="btn btn-success"
										(click)="createProject()">{{updateBtn?"Update":"Add"}}</button>
								</div>
								<div class="col-md-2">
									<button type="reset" id="reset" class="btn btn-primary">Reset</button>
								</div>
							</div>
							<br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<hr>
	<form #viewProjectForm="ngForm" novalidate>
		<div class="container">
			<div class="row">
				<div class="form-group row">
					<div class="col-md-1"></div>
					<div class="col-md-12">
						<input type="text" class="form-control" id="searchText"
							name="searchText" #searchProject="ngModel"
							[(ngModel)]="searchText" placeholder="Search Project">
					</div>

				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-2">
					<label class="col-form-label">Sort By:</label>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-secondary"
						(click)=sortByStartDate()>Start Date</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-secondary"
						(click)=sortByEndDate()>End Date</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-secondary"
						(click)=sortByPriority()>Priority</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-secondary"
						(click)=sortByStatus()>Completed</button>
				</div>
			</div>

			<div class="list-group"></div>

				<div class="col-sm-1"></div>
				<div class="list-group ">

					<div class="row "
						*ngFor="let item of projectsList | ProjectPipe : searchText">

						<div class="col-md-9"
							style="align-content: left; background-color: rgb(228, 224, 224);">
							<br />
							<strong>
								<table class="table table-borderless">
									<tbody>
										<tr>
											<td colspan="4" style="text-align: left;"><b>Project:</b>
												{{item.project}}</td>
											<td colspan="4" style="text-align: left;"><b>Priority:</b></td>
											<td>{{item.priority}}</td>
										</tr>
										<tr>
											<td><b>No. of Tasks:</b></td>
											<td>{{item.noOfTask}}</td>
											<td><b>Status:</b></td>
											<td colspan="4" style="text-align: left;">{{item.status}}</td>
										</tr>
										<tr>
											<td><b>Start Date:</b></td>
											<td>{{item.startDate | date : "dd/MM/yyyy"}}</td>
											<td><b>End Date:</b></td>
											<td colspan="4" style="text-align: left;">{{item.endDate
												| date : "dd/MM/yyyy"}}</td>
										</tr>

									</tbody>
								</table>
							</strong>
						</div>
						<div class="col-md-3">
							<br />
							<br /> <span><button type="button" class="btn btn-info"
									(click)=updateProject(item)>Update</button></span><br /> <br />

							<div *ngIf="item.status != 'Completed'">
								<span><button type="button" class="btn btn-secondary"
										style="margin: top" (click)=suspend(item)>Suspend</button></span>
							</div>
						</div>
					</div>
				</div>

		</div>
	</form>

	<button type="button" id="popUpBtn" class="btn btn-primary"
		style="display: none;" data-toggle="modal" data-target="#popUpDiv"></button>
	<div class="modal fade" role="dialog" id="popUpDiv" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">
						<b>{{popUpHeader}}</b>
					</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body" style="color: red;">{{popUpContent}}</div>

				<div class="modal-footer">
					<button type="reset" class="btn btn" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
</div>
